@page "/subscribers"
@inject NavigationManager navigationManager

<h3>Subscribers</h3>

<Search PageSize="10" SearchUrl="subscribers" TModel="SubscriberRow" OnItem="@(item => navigationManager.NavigateTo($"subscribers/{item.Item.Id}"))"
        Height="400px" Width="max-content">
    <Commands>
        <a href="subscribers/create">New subscriber</a>
    </Commands>

    <Columns>
        <Field Name="Id"></Field>
        <Field Name="@nameof(SubscriberRow.Name)" />
    </Columns>

</Search>

@code {

}
