@page "/"
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Infolink</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @* reference Bootstrap – see Bootstrap docs for version-specific line of code *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fonts/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/fonts/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="~/lib/fonts/fontawesome/css/regular.min.css">
</head>
<body>

    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

</body>
</html>