@model AlertModel
@if (Model != null)
{


    var alertClass = "";

    switch (Model.Type)
    {
        case AlertModel.AlertType.Information:
            {
                alertClass = "alert alert-success";
                break;
            }
        case AlertModel.AlertType.Warning:
            {
                alertClass = "alert alert-warning";
                break;
            }
        case AlertModel.AlertType.Error:
            {
                alertClass = "alert alert-danger";
                break;
            }
    }

    <div class="@alertClass mt-3" role="alert">
        @Model.Message
    </div>
}
