@page "/partners"
@inject NavigationManager navigationManager
@inject ScopedState state

<h3>Partner Search</h3>

<Search PageSize="10" SearchUrl="partners" TModel="PartnerRow" OnItem="@(item => navigationManager.NavigateTo($"partners/{item.Item.Id}"))"
        @bind-Value="state[navigationManager.Uri]">
    <Commands>
        <a href="partners/create">New partner</a>
    </Commands>
    <Columns>
        <Field Name="@nameof(PartnerRow.Name)" />
    </Columns>
</Search>

@code {

}
