<div class="row">
    <div class="col-md-4">
        <Field Name="@nameof(ScheduleView.Days)" Text="" />
    </div>
    <div class="col-md-4">
        <Field Name="@nameof(ScheduleView.Hours)" Text="" />
    </div>
    <div class="col-md-4">
        <Field Name="@nameof(ScheduleView.Minutes)" Text="" />
    </div>
</div>

@code {

}
