@page "/documents"
@inject NavigationManager navigationManager

<h3>Document Search</h3>

<Search PageSize="10" SearchUrl="documents" TModel="DocumentRow" OnItem="@(item => navigationManager.NavigateTo($"documents/{item.Item.Id}"))"
        Height="500px" Width="max-content">
    <Commands>
        <a href="documents/create">New document</a>
    </Commands>
    <Columns>
        <Field Name="Id" 
               Text="Document Id"></Field>

        <Field Name="@nameof(DocumentRow.Name)" />

        <Field Name="@nameof(DocumentRow.BusMessageTypeName)"
               Text="Message Name"/>

    </Columns>
</Search>


@code {

}
