@page "/subscriptions"
@inject NavigationManager navigationManager

<h3>Subscription Search</h3>

<Search PageSize="10" SearchUrl="subscriptions" TModel="SubscriptionSearch" OnItem="@(item => navigationManager.NavigateTo($"subscriptions/{item.Item.Id}"))"
        Height="500px" Width="max-content">
    <Commands>
        <a href="subscriptions/create">New subscription</a>
    </Commands>

    <Columns>
        <Field Name="Id"></Field>
        <Field Name="@nameof(SubscriptionSearch.Name)" />
        <Field Name="@nameof(SubscriptionSearch.Type)" />
    </Columns>

</Search>

@code {

}
