@page "/subscriptions"
@inject NavigationManager navigationManager

<h3>Subscribers</h3>

<Search PageSize="10" SearchUrl="subscribers" TModel="SubscriptionRow" OnItem="@(item => navigationManager.NavigateTo($"subscribers/{item.Item.Id}"))"
        Height="400px" Width="max-content">
    <Commands>
        <a href="subscriptions/create">New subscription</a>
    </Commands>

    <Columns>
        <Field Name="Id"></Field>
        <Field Name="@nameof(SubscriptionRow.Name)" />
    </Columns>

</Search>

@code {

}
